@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.btn {
    @apply p-2 rounded-md border-2 shadow-lg border-gray-300 dark:border-sky-600
    hover:border-gray-300 hover:bg-gray-50 dark:hover:border-gray-700 dark:hover:bg-gray-300
    dark:text-sky-50 dark:hover:text-black m-1 dark:bg-sky-700 min-h-12
    text-lg;
}

.bg {
    @apply dark:bg-sky-800
}


.title {
    @apply text-black dark:text-blue-100 text-2xl
}

.text {
    @apply dark:text-sky-50
}

.btntext {
    @apply dark:text-gray-300 text-lg
}

.input {
    @apply dark:text-black text-center dark:bg-sky-300
}

.form-group {
    @apply grid grid-cols-subgrid justify-center
}

.submit {
    @apply flex justify-center mb-1
}

.confirmation-enter-active {
    animation: slide-in 0.3s ease-out forwards;
}
.confirmation-leave-active {
    animation: slide-in 0.3s ease-out reverse forwards;
}

@keyframes slide-in {
    0% { transform: translateY(-20px); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
}

.stripes {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, .1) 75%, transparent 75%, transparent), linear-gradient(45deg, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, .05) 100%);
}
